/* Common Styles */

a {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul, ol {
    list-style-type: none;
    list-style: none;
    margin: 0;
    padding-left: 0;
}

li {
    margin: 0;
}

button {
    cursor: pointer;
}

img {
    display: block;
    margin: 20px auto; /* Adds vertical spacing and centers the image */
    max-width: 100%;
    height: auto;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF; 
}

.container { 
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
    }    

/* Common Styles */

/* Header Styles */

.container-header {
    display: flex;
}

.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.page-nav {
    display: flex;
    align-items: center;
}

.page-logo {
font-family: "Raleway", sans-serif;
color: #4d5ae5;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-align: left;
text-transform: uppercase;
margin-right: 76px;
}

.page-logo-studio {
color: #2e2f42;
}

.menu {
    display: flex;
    gap: 40px;
}

.menu-item {
color:#2e2f42;
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.02em;
text-align: left;
}

.menu-item-link {
padding-top: 24px;
padding-bottom: 24px;
position: relative;
color: #404bbf;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-item-link::after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}

.menu-item-link:hover,
.menu-item-link:focus {
color: #404bbf;
}

.address {
font-style: normal;
}

.menu-address {
    display: flex;
    gap: 40px;
}

.menu-address-link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-mail {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    }

.menu-address-link-tel {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Hero Styles */

.hero {
background-color: #2E2F42;
padding-top: 188px;
padding-bottom: 188px;
}

.hero-header {
color: #FFFFFF;
background-color: #2E2F42;
font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
max-width: 496px;
}

.hero-button {
color: #FFFFFF;
background-color: #4D5AE5;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
min-width: 169px;
height: 56px;
border: none;
border-radius: 4px;
display: block;
}

.hero-button:hover, .hero-button:focus {
background-color: #404BBF;
}

/* Hero Styles */

/* Section 2 Styles */

.team-features {
    padding-top: 120px;
    padding-bottom: 120px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.features-list {
    display: flex;
    gap: 24px;
}

.features-menu {
    width: calc((100% - 72px) / 4);
}

.features-menu-item {
color:#2e2f42;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
margin-bottom: 8px;
}

.features-menu-item-descr {
    color:#434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* Section 2 Styles */

/* Section 3 Styles */

.section-team {
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
}

.team-header {
    color: #2e2f42;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-menu {
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}

.container-team-menu-item-team-menu-item-descr {
    padding-top: 32px;
    padding-bottom: 32px;
}

.team-menu-item {
    color:#2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.team-menu-item-descr {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

/* Section 3 Styles */

/* Section 4 Styles */

.team-portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-header {
    color: #2e2f42;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-menu {
    width: calc((100% - 48px) / 3);
}

.container-portfolio-menu-item {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-menu-item {
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.portfolio-menu-item-descr {
color: #434455;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}

/* Section 4 Styles */

/* Footer */

.footer {
   background-color: #2e2f42;
   padding-top: 100px;
   padding-bottom: 100px;
}

.page-logo-footer {
    display: inline-block;
    margin-bottom: 16px;
}

.page-logo-studio-footer {
    color: #f4f4fd;
}

.footer-descr {
    color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* Footer */